.states {
     fill: #ccc;
     stroke: #fff;
}
 .symbol {
     fill-opacity: .8;
     stroke: #fff;
}
 .symbol:hover {
     fill: #ff0000;
     stroke: #ff0000;
}
 .tooltip {
     position: absolute;
     width: 200px;
     height: 28px;
     pointer-events: none;
}
