body, html{
  font-family: 'Raleway', sans-serif;
  margin:0;
  padding:0;
}

.container {
  margin-bottom: 2rem;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 200px;
  height: 70px;
  padding: 2px;
  font-size: 11px;
  color: white;
  border: 0;
  border-radius: 8px;
  pointer-events: none;
}

.wine-information {
  visibility: hidden;
}

.slider-select {
  margin-bottom: 2rem;
}

.slider {
  margin-left: 10px;
  width: 100%;
}

.slider-text {
  border:0;
  font-weight:bold;
}