body, html{
  font-family: 'Montserrat', sans-serif;
  font-size: 0.95rem;
  margin:0;
  padding:0;
}

.container {
  margin-bottom: 2rem;
}

div.tooltip {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  text-align: center;
  padding: 2px;
  font-size: 11px;
  color: white;
  border: 0;
  border-radius: 8px;
  pointer-events: none;
}

.wine-information {
  visibility: hidden;
}

.slider-select {
  margin-bottom: 2rem;
}

.slider {
  margin-left: 10px;
  width: 100%;
}

.slider-div {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.slider-text {
  border:0;
}

h4 {
  font-size: 1.3rem;
}

.text-red-wine {
  color: #722F37;
}

.text-rose-wine {
  color: #FDBCB4;
}

.text-white-wine {
  color: #ECCD13;
}